target
node_modules
package-lock.json
temp-testng-customsuite.xml
test-output/
sproutcore
src/main/resources/web-interface/tahrir/tmp
src/main/resources/static/built
logback*.xml
*.iml
*.iws
*.ipr
.idea
.classpath
.project
